<div>
    <button (click)="fetchData()">
        Get Data
    </button>
</div>
<div>

    <div class="input-container">
        <label for="name">Name</label><input [(ngModel)]="data.name" name="name" type="text">
    </div>
    <div class="input-container">
        <label for="category">Category</label><input [(ngModel)]="data.category" name="category" type="text">
    </div>
    <div class="input-container">
        <label for="manufacturer">Manufacturer</label><input [(ngModel)]="data.manufacturer" name="manufacturer" type="text">
    </div>
    <div class="input-container">
        <label for="price">Price</label><input [(ngModel)]="data.price" name="price" type="text">
    </div>
    <div class="input-container">
        <label for="currency">Currency</label><input [(ngModel)]="data.currency" name="currency" type="text">
    </div>
    <div class="input-container">
        <label for="description">Description</label><textarea [(ngModel)]="data.description" name="description" id="description-area"></textarea>
    </div>

    <button (click)="postData()">
        Send Data
    </button>
</div>
<div >
    {{fetchedData | json}}
</div>
